body{
    background-color: #f6f8fc;
}
.content {
    width: 100vw;
    height: 100vh;
    padding: 1rem;
    background-color: white;
}

.content > .content__image{
    display: flex;
    align-items: center;
}

.content > .content__image > img{
width: 150px;
}

.content > .content__image > h1{
    margin-bottom: 2rem;
    font-size: 4rem;
    color: rgb(111, 163, 137);
    margin: 20px;
    
}

@media screen and (min-width: 380px){
    .pokemons{
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (min-width: 576px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (min-width: 992px){
    .pokemons{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
    
}



